  <!-- <div class="dashboardcard">
  <h2><label>Admin DashBoard</label></h2>
  <div class="accordion indicator-plus-before round-indicator" id="accordionH" aria-multiselectable="true">
    <div class="card m-b-0">
      <div class="card-header collapsed" role="tab" id="headingOneH" href="#userManagement" data-toggle="collapse"
        data-parent="#accordionH" aria-expanded="false" aria-controls="collapseOneH">
        <a class="card-title">{{'source.userManagement' | i18next}}</a>
      </div>
      <div class="collapse" id="userManagement" role="tabpanel" aria-labelledby="headingOneH">
        <div class="card-body">
          <a routerLink="/usermanagement" class="btn btn-primary">{{'source.userManagement' | i18next}}</a>
        </div>
      </div>
      <div class="card-header collapsed" role="tab" id="headingThreeH" href="#system_creds_admin-gjs" data-toggle="collapse"
        data-parent="#accordionH" aria-expanded="false" aria-controls="collapseThreeH">
        <a class="card-title">System Credentials Administration</a>
      </div>
      <div class="collapse" id="system_creds_admin-gjs" role="tabpanel" aria-labelledby="headingThreeH">
        <div class="card-body">
          <a type="button" class="btn btn-primary" routerLink="/vaultadmin">Vault Administration</a>&nbsp;&nbsp;
        </div>
      </div>
    </div>
  </div>
</div>   -->
----------------------------------------------------------------------------------------------------------------------------------------------

<div id="iuzatd" class="gpd-container gpd-cnt">
  <div id="iz6vo" class="gdp-row gpd-grid">
      <div id="iqtvt" class="cell gpd-clm">
          <div id="ighf" class="gdp-row gpd-grid sticky">
              <div id="ik48" class="cell gpd-clm">
                  <div id="icu6h" class="gpd-text">Admin Dashboard
                  </div>
              </div>
              <div id="iobjh" class="cell gpd-navbar__menu"><a id="i5hbo" class="gpd-icon"><svg
                          xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                          <path d="M3 6h18v2H3V6m0 5h18v2H3v-2m0 5h18v2H3v-2z">
                          </path>
                      </svg></a></div>
          </div>
          <div id="i937yi" class="gdp-row gpd-grid">
            <div id="i5wn7j" class="cell gpd-clm">
                <div id="i8zcvg" class="gdp-row gpd-grid">
                    <div id="il2xxf" class="cell gpd-clm">
                        <div id="i4a9sf" class="gpd-text">System Administration
                        </div>
                    </div>
                    <div class="cell gpd-clm">
                        <div id="ig75jo" class="gdp-row gpd-grid">
                            <div id="i0mp2f" class="cell gpd-clm">
                                <div id="i652ij" class="gdp-row gpd-grid">
                                    <a routerlink ="/UserManagement" id="icrvgp" class="gpd-text"></a>
                                    <div id="iojftr" class="cell gpd-clm"><img
                                            src="https://cdn.grapedrop.com/uf9ef8595751c4d1f87c91168f5d51a8c/8c3c80b2b8bf47fe891dc0fef071b903_group_2885.png"
                                            id="il96fe" /></div>
                                    <div id="ivdiuk" class="cell gpd-clm">
                                        <div id="ic8nue" class="gpd-text">User
                                        </div>
                                        <div id="ifdjor" class="gpd-text">Management
                                        </div>
                                </div>
                            </div>
                            <div id="ic1ccr" class="cell gpd-clm">
                                <div id="iemrh7" class="gdp-row gpd-grid">
                                  <a routerlink="/Vaultadminstration" id="icrvgp" class="gpd-text"></a>
                                    <div id="i7trrs" class="cell gpd-clm"><img
                                            src="https://cdn.grapedrop.com/uf9ef8595751c4d1f87c91168f5d51a8c/59864fc5225d4dbd98f7ff895e715fb6_vaul.png"
                                            id="iu3vly" /></div>
                                    <div id="ivt7k8" class="cell gpd-clm">
                                        <div id="ifs5g7" class="gpd-text">Vault
                                        </div>
                                        <div id="iiq5zm" class="gpd-text">administration
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="i77jpi" class="cell gpd-clm">
                                <div id="i12mn9" class="gdp-row gpd-grid">
                                  <a routerlink="/SecurityManager" id="icrvgp" class="gpd-text"></a>
                                    <div id="i7j9ef" class="cell gpd-clm"><img
                                            src="https://cdn.grapedrop.com/uf9ef8595751c4d1f87c91168f5d51a8c/fdcfc34e5c3d49b3bc609b3b1b0cd842_sec.png"
                                            id="icw9hz" /></div>
                                    <div id="i23znz" class="cell gpd-clm">
                                        <div id="i8c31a" class="gpd-text">Security
                                        </div>
                                        <div id="ilhgzk" class="gpd-text">Manager
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="icqe5f" class="gdp-row gpd-grid">
          <div id="iazfvk" class="cell gpd-clm">
              <div id="in19gm" class="gdp-row gpd-grid">
                  <div id="i390wf" class="cell gpd-clm">
                      <div id="ihucnc" class="gpd-text">Feature administration
                      </div>
                  </div>
                  <div class="cell gpd-clm">
                      <div id="ier2ev" class="gdp-row gpd-grid">
                          <div id="iyii1n" class="cell gpd-clm">
                              <div id="ic1ayj" class="gdp-row gpd-grid">
                                <a routerlink="/NotificationsGep" id="icrvgp" class="gpd-text"></a>
                                  <div id="ii9jl2" class="cell gpd-clm"><img
                                          src="https://cdn.grapedrop.com/uf9ef8595751c4d1f87c91168f5d51a8c/7639d52e93874abf9134109140091210_group_17154.png"
                                          id="iuf9dj" /></div>
                                  <div id="ivdfrl" class="cell gpd-clm">
                                      <div id="ikaquj" class="gpd-text">Notifications
                                      </div>
                                      <div id="iapw37" class="gpd-text">Gep
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div id="idn6oi" class="cell gpd-clm">
                              <div id="i3rrlj" class="gdp-row gpd-grid">
                                <a routerlink="/FileManagerGep" id="icrvgp" class="gpd-text"></a>
                                  <div id="ixk9x5" class="cell gpd-clm"><img
                                          src="https://cdn.grapedrop.com/uf9ef8595751c4d1f87c91168f5d51a8c/4557519f339b463d983033762fd913fd_file.png"
                                          id="iz4esq" /></div>
                                  <div id="i6oh6i" class="cell gpd-clm">
                                      <div id="ie7ibi" class="gpd-text">FileManager
                                      </div>
                                      <div id="i9rxig" class="gpd-text">Gep
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div id="ijh6j9" class="cell gpd-clm">
                              <div id="i42sb6" class="gdp-row gpd-grid">
                                <a routerlink="/WCMX-WordPressAdministration" id="icrvgp" class="gpd-text"></a>
                                  <div id="ibb08v" class="cell gpd-clm"><img
                                          src="https://cdn.grapedrop.com/uf9ef8595751c4d1f87c91168f5d51a8c/225eff0564f649b8ab600e86f7867401_wp.png"
                                          id="ibnzgx" /></div>
                                          <a routerlink="/WCMX-WordPress" id="icrvgp" class="gpd-text"></a>
                                  <div id="ik5urx" class="cell gpd-clm">
                                      <div id="ijwewf" class="gpd-text">WCMX-WordPress
                                      </div>
                                      <div id="ivu7jh" class="gpd-text">Administration
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="cell gpd-clm">
                      <div id="iezx5j" class="gdp-row gpd-grid">
                          <div id="ij1qn7" class="cell gpd-clm">
                              <div id="i2myi3" class="gdp-row gpd-grid">
                                <a routerlink="/WCMX-grapejsAdministration" id="icrvgp" class="gpd-text"></a> 
                                  <div id="ir45wk" class="cell gpd-clm"><img
                                          src="https://cdn.grapedrop.com/uf9ef8595751c4d1f87c91168f5d51a8c/d66c8697dbd84f30812afc3a0f27e8ea_gjs.png"
                                          id="itmwgi" /></div>
                                  <div id="i1ozaw" class="cell gpd-clm">
                                      <div id="i6sum9" class="gpd-text">WCMX-grapejs
                                      </div>
                                      <div id="ijy46l" class="gpd-text">Administration
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div id="iyqm6v" class="cell gpd-clm">
                              <div id="ib9bki" class="gdp-row gpd-grid">
                                <a routerlink="/DefaultIconFeature" id="icrvgp" class="gpd-text"></a>
                                  <div id="iylbyj" class="cell gpd-clm"><img
                                          src="https://cdn.grapedrop.com/uf9ef8595751c4d1f87c91168f5d51a8c/a7bcddb1e0614719b26b22738e15264b_defaulticon.png"
                                          id="iqqe28" /></div>
                                  <div id="i4vhpi" class="cell gpd-clm">
                                      <div id="ir38uj" class="gpd-text">Default Icon
                                      </div>
                                      <div id="i084zm" class="gpd-text">Feature
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div id="i9s5h8" class="cell gpd-clm">
                              <div id="i8k6y8" class="gdp-row gpd-grid">
                                <a routerlink="/DefaultIconFeature" id="icrvgp" class="gpd-text"></a> 
                                  <div id="ipkws2" class="cell gpd-clm"><img
                                          src="https://cdn.grapedrop.com/uf9ef8595751c4d1f87c91168f5d51a8c/a7bcddb1e0614719b26b22738e15264b_defaulticon.png"
                                          id="i8pmea" /></div>
                                  <div id="ivr9e9" class="cell gpd-clm">
                                      <div id="ilc3yh" class="gpd-text">Default Icon
                                      </div>
                                      <div id="it41ae" class="gpd-text">Feature
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div id="ixnaf" class="gdp-row gpd-grid">
        <div id="ix9v7z" class="cell gpd-clm">
            <div id="iztu9x" class="gdp-row gpd-grid">
                <div id="irgipm" class="cell gpd-clm">
                    <div id="ir8q3c" class="gpd-text">Connector administration
                    </div>
                </div>
                <div class="cell gpd-clm">
                    <div id="ik8b6d" class="gdp-row gpd-grid">
                        <div id="imc9t7" class="cell gpd-clm">
                            <div id="ilb7g1" class="gdp-row gpd-grid">
                              <a routerlink="/MLSGridConnector" id="icrvgp" class="gpd-text"></a> 
                                <div id="inuh3m" class="cell gpd-clm"><img
                                        src="https://cdn.grapedrop.com/uf9ef8595751c4d1f87c91168f5d51a8c/908e7d8abb554932b0b03abc94101258_mls.png"
                                        id="id364b" /></div>
                                <div id="i2pvsy" class="cell gpd-clm">
                                    <div id="igcqry" class="gpd-text">MLS Grid
                                    </div>
                                    <div id="imp3ab" class="gpd-text">Connector
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="ic36xz" class="cell gpd-clm">
                            <div id="izw8by" class="gdp-row gpd-grid">
                              <a routerlink="/ServicenowConnector" id="icrvgp" class="gpd-text"></a>
                                <div id="ioc5y8" class="cell gpd-clm"><img
                                        src="https://cdn.grapedrop.com/uf9ef8595751c4d1f87c91168f5d51a8c/96928eccb4194200973e4e09b5f6c555_sn.png"
                                        id="iyjizd" /></div>
                                <div id="idu0l7" class="cell gpd-clm">
                                    <div id="i3flow" class="gpd-text">Service now
                                    </div>
                                    <div id="igf2jq" class="gpd-text">Connector
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="im2ghp" class="cell gpd-clm">
                            <div id="ixrheb" class="gdp-row gpd-grid">
                              <a routerlink="/DefaultIconConnector" id="icrvgp" class="gpd-text"></a>
                                <div id="idszw3" class="cell gpd-clm"><img
                                        src="https://cdn.grapedrop.com/uf9ef8595751c4d1f87c91168f5d51a8c/0f83507d8c434ab4a3a98aba0e1eacab_defcon.png"
                                        id="ieu4og" /></div>
                                <div id="igkwwv" class="cell gpd-clm">
                                    <div id="iovtvl" class="gpd-text">Default Icon
                                    </div>
                                    <div id="ifwv5h" class="gpd-text">Connector
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
          </div> 
   </div>
</div> 
